html,
body,
p,
div {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

a {
  text-decoration: none;
  margin-top: 20px;
  margin: auto;
  width: 50px;
}

h2 {
  font-weight: 500;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.heading {
  text-align: center;
  padding-top: 40px;
  /* padding-bottom: 15px; */
  font-size: 20px;
}

main {
  padding-top: 70px;
}

/* Header */
header {
  background-color: #212529;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo img {
  width: 70px;
}

header ul {
  float: right;
  margin-top: 0;
}

header ul li {
  display: inline-block;
  line-height: 70px;
  margin: 0 5px;
}

header ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 10px;
  text-transform: uppercase;
}

header a:hover {
  background: #ffd300;
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 70px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/* Home */
.animated fadeInUp delay-1s h1 {
  font-size: 32px;
}

.home {
  background-image: url("img/background.jpg");
  background-size: cover;
  padding: 180px 0 100px 0;
  color: white;
  text-align: center;
}

.home h1 {
  font-size: 50px;
  margin-bottom: 8px;
}

.home p {
  opacity: 0.9;
  margin-bottom: 5px;
}

.home span {
  color: #ffd300;
}

.bttn-wrapper {
  margin: 20px 0;
}

.bttn {
  padding: 12px 30px;
  color: white;
  /* display: inline-block; */
  opacity: 0.9;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
}

.explore {
  background-color: #ffd300;
}

.bttn:hover {
  background-color: #f3cb00;
  opacity: 0.8;
}

/* About Us */
.about {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
}

.content {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 0 30px;
}

.content-items {
  width: 50%;
}

.content-items p {
  text-align: justify;
  line-height: 35px;
}

.pict {
  padding-top: 10%;
  width: 70%;
}

/* our team */
.our-team {
  background-color: #f8f9fa;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
}

.team {
  display: flex;
  flex-wrap: wrap;
}

.team-member {
  text-align: center;
  width: 20%;
}

.team-member img {
  border: 5px solid white;
  border-radius: 100%;
  width: 80%;
  transition: all 1s;
}

.team-member img:hover {
  border: 5px solid #ffd300;
}

.team-member h4 {
  margin-top: 10px;
  margin-bottom: 0;
}

.team-member p {
  margin: 0 10px;
}

.list-icon {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.list-icon li {
  display: inline-block;
  padding-right: 10px;
}

.icon {
  color: white;
  font-size: 25px;
  background-color: #212529;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 50px;
  display: block;
  text-align: center;
  transition: all 0.3s;
}

.icon:hover,
.icon:active {
  background-color: #ffd300;
}

/* contact us */
.contact-us {
  /* background-color: rgb(248, 248, 248); */
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
}

.form {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  margin-top: 0;
}

.form input,
textarea {
  flex: 1 1 auto;
  /* margin: 5px; */
  /* padding: 10px; */
  padding: 21px 0;
  margin: 10px 0 13px 0;
  border: 2px solid #dee7ec;
  border-radius: 5px;
  /* background-color: #e7f2f8; */
  width: 90%;
}

.form-left,
.form-right {
  flex: auto;
  width: 50%;
}

textarea {
  height: 100px;
}

.btn {
  padding: 10px 24px;
  color: white;
  display: inline-block;
  opacity: 0.9;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
}

.btn:hover {
  background-color: #f3cb00;
  opacity: 0.8;
}

.submit {
  padding: 10px 40px;
  background-color: #ffd300;
  cursor: pointer;
  box-shadow: 0 7px #dfba00;
}

.submit:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

/* Footer */
footer {
  background-color: #212529;
  width: 100%;
  height: 60px;
}

footer img {
  width: 60px;
  margin-top: 10px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

/* Responsive */
@media (max-width: 1000px) {
  header ul li a {
    font-size: 15px;
  }

  .home h1 {
    font-size: 30px;
  }

  .home animated fadeIn {
    text-align: left;
    padding-top: 130px;
  }

  .home animated fadeIn h1 {
    font-size: 16px;
    line-height: 24px;
  }

  .home animated fadeIn p {
    font-size: 10px;
    line-height: 16px;
  }

  .bttn-wrapper {
    width: 100%;
    margin-bottom: 10px;
  }

  /* about */
  .content {
    justify-content: center;
  }

  .content-items {
    width: 80%;
  }

  /* our team */
  .team {
    justify-content: center;
  }

  .team-member {
    width: 40%;
  }

  .icon {
    margin-bottom: 50px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  .heading {
    font-size: 15px;
  }

  .form input,
  textarea {
    width: 85%;
  }
}

@media (max-width: 670px) {

  /* Header */
  .checkbtn {
    display: block;
  }

  .menu {
    position: fixed;
    width: 100%;
    /* height: 100%; */
    background: rgba(41, 41, 41, 0.9);
    top: 70px;
    right: -120%;
    text-align: center;
    transition: all 0.5s;
  }

  header ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  header ul li a {
    font-size: 20px;
  }

  header a:hover {
    background: none;
    color: #ffd300;
  }

  #check:checked~.menu {
    right: 0;
  }

  .team-member {
    width: 55%;
  }

  .form {
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
  }

  .form-left input,
  .form-right textarea {
    width: 100%;
  }

  .form-left,
  .form-right {
    flex: auto;
    width: 100%;
  }

  footer {
    text-align: center;
  }
}
